/* Fonts  */
@font-face {
  font-family: redress;
  src: url('./fonts/Redressed-Regular.ttf');
}

@font-face {
  font-family: comic-runes;
  src: url('./fonts/ComicRunes.otf');
}

@font-face {
  font-family: biondi-sans;
  src: url('./fonts/Biondi-Sans-Light.ttf');
}

/* General Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  margin: 0;
  font-size: 16px;
  color: white;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: biondi-sans, sans-serif;
}

li {
  list-style: none;
}

.nav-items a {
  height: 100%;
  display: flex;
  align-items: center;
}

/* Header Navigation */

header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.nav-items {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.nav-item-logo,
.nav-item-connect {
  display: flex;
}

.nav-item-logo {
  justify-content: flex-start;
  padding-left: 20px;
  transition: opacity 300ms linear;
}

.nav-item-logo:hover {
  opacity: 0.45;
}

.nav-item-connect {
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  transition: opacity 0.3s linear;
}

.nav-item-connect:hover {
  opacity: 0.45;
}

.logo,
.connect-link {
  width: 250px;
}

/* Video Background*/
.background-wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.background-wrapper video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Footer */
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.journey {
  width: 250px;
  transition: opacity 300ms linear;
}

.journey:hover {
  width: 250px;
  opacity: 0.45;
}

.social-icons {
  display: flex;
  padding: 0;
  margin: 0;
  height: 50px;
  padding-right: 50px;
}

.social-icon {
  padding: 0 5px;
  transition: opacity 300ms linear;
}

.social-icon:hover {
  opacity: 0.45;
}

.social-icon img {
  width: 50px;
}

/* Waystone page */

.waystone-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  height: 100%;
}

.extract-shard-text,
.observatorium-text,
.activate-waystone-text {
  text-align: right;
  padding-right: 60px;
}

.extract-shard-text,
.activate-waystone-text {
  margin-top: 200px;
}

.observatorium-text {
  padding-bottom: 30px;
}

.body-text {
  margin-bottom: 20px;
  margin-left: auto;
  font-size: 18px;
  line-height: 25px;
}

.extract-shard-text .body-text:first-child {
  font-size: 24px;
  margin-bottom: 25px;
  max-width: 540px;
}

.extract-shard-text .body-text:nth-child(2) {
  max-width: 600px;
}

.extract-shard-text .body-text:nth-child(3) {
  max-width: 500px;
}

.extract-shard-link {
  margin-right: -15px;
}

.extract-shard-link img,
.activate-waystone-link img {
  width: 400px;
}

.waystone-link img {
  width: 375px;
}

.waystone-link {
  margin-right: -23px;
}

.activate-waystone-link {
  margin-right: -45px;
}

.extract-link-text,
.activate-waystone-link-text {
  font-family: 'redress', cursive;
  width: 100%;
  text-align: right;
  font-size: 25px;
  padding-right: 40px;
}

.observatorium-text .body-text:first-child {
  max-width: 485px;
}

.waystone-link-text,
.activate-waystone-link-text {
  font-size: 17px;
}

.waystone-link-text {
  font-size: 20px;
  padding-right: 45px;
}

.waystone-link-text a {
  font-family: 'comic-runes', cursive;
  color: lime;
  text-decoration: none;
}

.link-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
}

.activate-waystone-text .body-text {
  font-size: 18px;
  line-height: 34px;
  max-width: 570px;
}